@{
    ViewBag.Title = "Home Page";
}

<div class="page">
    <div class="section homecard"> <!--MAKE A JUMBOTRON, MAYBE DOESN'T NEED TO BE FLEXBOX-->
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Assets/HomePageLeadImage.jpg" class="card-img-top" alt="...">
            <div class="card-body">
                <p class="card-text">The number one place to track all your bets! Click below to start tracking your bets today.</p>
            </div>
        </div>
    </div>
    <div class="section">
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Assets/SingleGamePic.jpg" class="card-img-top" alt="NBA tipoff">
            <div class="card-body">
                @Html.ActionLink("Game Bets", "Index", "SingleGameBet")
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Assets/TeamSeasonPic.jpg" class="card-img-top" alt="Colts team">
            <div class="card-body">
                @Html.ActionLink("Team Season Bets", "Index", "TeamSeasonBet")
            </div>
        </div>
        <div class="card" style="width: 18rem;">
            <img src="~/Content/Assets/PlayerGamePic.jpg" class="card-img-top" alt="Aaron Judge">
            <div class="card-body">
                @Html.ActionLink("Player Props", "Index", "PlayerGameBet")
            </div>
    </div>
</div>