* {
    margin: 0;
    padding: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* Navbar */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

nav li {
    padding-right: 25px;
}

nav li:first-child {
    padding-left: 20px;
}

/* Footer */

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* Home page */

p {
    color: white;
}

.page {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.homecard {
    margin-top: 125px;
    margin-bottom: 75px;
    /* MAKE ENTIRE IMAGE LARGER ON HOME SCREEN, MAYBE MAKE IT A JUMBOTRON */
}