* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* All associated files within Views folder*/
/* Folder -> File name */

/* Shared -> _Layout.cshtml */

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
}

nav li {
    padding-right: 25px;
}

nav li:first-child {
    padding-left: 20px;
}

footer {
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    left: 0;
}

/* Home -> Index.cshtml */

.page {
    display: flex;
    flex-wrap: wrap;
}

.homecard {
    text-align: center;
    margin-top: 75px;
    margin-bottom: 25px;
}

.homecard img {
    border: 1px solid black;
}

.card-text {
    color: white;
    padding-top: 10px;
}

.section {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

/* Account -> Register.cshtml */

.register {
    padding-top: 100px;
    color: white;
}

.registerbtn {
    color: white;
}

.registerbtn:hover {
    text-decoration: underline;
}

/* Account -> Login.cshtml */

.login {
    padding-top: 100px;
    color: white;
}

.loginbtn {
    color: white;
}

.loginbtn:hover {
    text-decoration: underline;
}

/* Account -> ForgotPassword.cshtml */

.password1 {
    padding-top: 100px;
    color: white;
}

.forgotpwbtn {
    color: white;
}

.forgotpwbtn:hover {
    text-decoration: underline;
}

/* Account -> ForgotPasswordConfirmation.cshtml */

.password2 {
    padding-top: 100px;
    color: white;
}

.password2 h1 {
    font-size: 30px;
}

.password2 p {
    font-size: 22.5px;
}

/* Manage -> Index.cshtml */

.passwordchange1 {
    padding-top: 100px;
    color: white;
}

/* Manage -> ChangePassword.cshtml */

.passwordchange2 {
    padding-top: 100px;
    color: white;
}

.pwchangebtn {
    color: white;
}

.pwchangebtn:hover {
    text-decoration: underline;
}

/* Index view for SingleGame, TeamSeason and PlayerGame */

.bethome {
    padding-top: 100px;
    color: white;
}

.bethome h2 {
    text-align: center;
    font-weight: bold;
}

.bethome p {
    padding-bottom: 10px;
}

.bethome th {
    border-top: none;
    border-bottom: 2px solid #ff8c69;
    text-align: center;
    font-size: 18px;
}

.bethome td {
    border-bottom: 1px solid #ff8c69;
    text-align: center;
    font-size: 14px;
}

/* Create view for SingleGame, TeamSeason, PlayerGame and BetInfo */

.betcreate {
    padding-top: 100px;
    color: white;
}

.createbtn {
    color: white;
}

.createbtn:hover {
    text-decoration: underline;
}

/* Edit view for SingleGame, TeamSeason and PlayerGame */

.betedit {
    padding-top: 100px;
    color: white;
}

.betedit h2 {
    font-weight: bold;
}

.editbtn {
    color: white;
}

.editbtn:hover {
    text-decoration: underline;
}

/* Details view for SingleGame, TeamSeason and PlayerGame */

.betdetails {
    padding-top: 100px;
    color: white;
}

.betdetails h2 {
    text-align: center;
    font-weight: bold;
    padding-bottom: 25px;
}

.betdetails th {
    border-top: none;
    border-bottom: 2px solid #ff8c69;
    text-align: center;
    font-size: 18px;
}

.betdetails td {
    border-bottom: 1px solid #ff8c69;
    text-align: center;
    font-size: 14px;
}

/* Delete view for SingleGame, TeamSeason and PlayerGame */

.betdelete {
    padding-top: 100px;
    color: white;
}